<template>
<div>
    <b-row no-gutters>
      <b-col>
         <p class="title">Data Sets</p>
      </b-col>
    </b-row>
    <b-row no-gutters v-for="resource in resources" :key="resource.link" class="mb-2">
      <b-col cols="8">
         <p v-if="resource.description !== ''" class="linkTitle">{{ resource.description }}</p>
         <p v-else class="linkTitle">{{ resource.name }}</p>
      </b-col>
      <b-col cols="4">
         <b-button size="sm" :href="resource.url" class="viewDataButton">Download</b-button>
<div>
  <b-button v-on:click="parseDataset(resource.url)" size="sm" class="viewDataButton" v-b-modal.modal-scrollable>Preview</b-button>
</div>
      </b-col>
    </b-row>
  <b-modal id="modal-scrollable" size="xl" title="Preview the dataset">
<hot-table :data="parsedDataset" colHeaders=" " rowHeaders=" " width="1100" height="400" licenseKey="non-commercial-and-evaluation"></hot-table>
  </b-modal>
</div>
</template>

<script>

export default {
  name: 'resourceList',
  props: {
    package: {
      type: String,
      required: true
    },
    resources: {
      type: Array,
      required: false,
      default: function () {
        return [
        ];
      }
    }
  },
  data () {
    return {
    };
  },
  methods: {
    parseDataset (url) {
      this.$store.dispatch('parseDataset', url);
    }
  },
  computed: {
    parsedDataset: function () {
      return this.$store.state.parsedDataset;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">

@import '~handsontable/dist/handsontable.full.css';

.title {
  font-weight: 700;
}

.linkTitle {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.link {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 2px black solid;
  float: right;
}

</style>
