<template>
  <div>
    <b-row no-gutters>
      <b-col>
        <p class="title removeMargin">Further Information</p>
      </b-col>
      <b-col>
        <i class="fas fa-chevron-up" v-if="collapse" @click=setCollapsed></i>
        <i class="fas fa-chevron-down"  v-else @click=setCollapsed></i>
      </b-col>
    </b-row>
    <div :class="[ collapse ? 'collapsed': 'expanded' ]">
      <b-row>
        <b-col cols="6">
          Frequency
        </b-col>
        <b-col cols="6">
          {{ frequency }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          License
        </b-col>
        <b-col cols="6">
          {{ license }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Type
        </b-col>
        <b-col cols="6">
          {{ type }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Category
        </b-col>
        <b-col cols="6">
          {{ category }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Format
        </b-col>
        <b-col cols="6">
          {{ format }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Contact
        </b-col>
        <b-col cols="6">
            <a v-if="contact" :href="'mailto:' + contactPerson">{{ contactPerson }}</a>
            <p v-else>{{ contactPerson}}</p>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Created
        </b-col>
        <b-col cols="6">
          {{ created }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Language / Locale
        </b-col>
        <b-col cols="6">
          {{ localeName }}
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          Processed by
        </b-col>
        <b-col cols="6">
          <a :href="'https://ltl.ev.openindustry.in/#/application/reports/reporttable/package/' + lintol">Lintol</a>
        </b-col>
      </b-row>
      <!-- <b-row v-if="contact">
        <b-col cols="6">
          <b-button class="contactButton" :href="'mailto:' + contact">Information Request</b-button>
        </b-col>
      </b-row> -->
    </div>
  </div>
</template>

<script>
import { getLocaleName } from '@/utils/locales.js';

export default {
  name: 'FurtherInfomation',
  props: {
    title: {
      type: String,
      required: false
    },
    frequency: {
      type: String,
      required: false
    },
    license: {
      type: String,
      required: false
    },
    type: {
      type: String,
      required: false
    },
    category: {
      type: String,
      required: false
    },
    format: {
      type: String,
      required: false
    },
    lintol: {
      type: String,
      required: false,
      default: function () {
        return '';
      }
    },
    contact: {
      type: String,
      required: false,
      default: function () {
        return '';
      }
    },
    created: {
      type: String,
      required: false
    },
    locale: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      furtherInformationTitles: ['Frequency', 'License', 'Type', 'Category', 'Format', 'Contact', 'Date Created'],
      collapse: false
    };
  },
  methods: {
    setCollapsed: function () {
      this.collapse = !this.collapse;
    },
    mailto: function () {
      var answer = confirm('Confirm starting your email client?');
      if (answer) {
        window.location.href = 'mailto:' + this.contactPerson + '?subject=' + this.title;
      }
    }
  },
  computed: {
    contactPerson: function () {
      if (this.contact === '' || this.contact === null) {
        return 'No Contact person';
      }
      return this.contact;
    },
    localeName: function () {
      return getLocaleName(this.locale);
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
  font-weight: 700;
}

.collapsed {
  max-height: 0;
  transition: max-height 1000ms;
  overflow: hidden;
}

.expanded {
  height: auto;
  transition: height 1000ms;
  max-height: 500px;
}

.mailto {
  cursor: pointer;
}

.removeMargin {
  margin-bottom: 0px;
}
</style>
