<template>
<div>
1. Outline your goals. You may be requiring more than one dataset. You have picked <strong>{{datasetInfo.title}}</strong>
<br>
<hr>
2. Pick which chart to help visualise the data. <a href="https://www.skillsyouneed.com/num/graphs-charts.html">Here</a> is a guide on how to select a graph type, as different graphs are used for different purposes.
      <div v-if='chart' style='position: relative; width: 100%'>
        <chart-axis class='chart' @rendered="chartRendered" :data="chartData(chart)"></chart-axis>
        <div style='position: absolute; left: 200px; top: 50px; z-index: 10'><h1>ILLUSTRATIVE<br/>ONLY</h1></div>
      <span v-if="chart.type == 'numeric'">
This chart, for example, contains numeric data - up the side, it has <b>{{ chart.name }}</b>, a column from this dataset. <span v-if='chart.indexName'>Along the bottom, it has <b>{{ chart.indexName }}</b>, what we have guessed might be the IDs of each row.</span> However, this is an automated approach, once you open the data in a spreadsheet, you will need to check these yourself. Always check the original source - this can provide important context about what column names and numbers mean.
      </span>
      </div>
<hr>
4. Understand the data - here are a few things we have guessed at (bear in mind, our automatic techniques are experimental, so you should also check these yourself or with a specialist!)
<ul>
    <template v-for='(expl, ix) in comprehension'>
      <li v-if="ix === 'all-comprehension-type-tags' && expl.length" :key="ix">
        This may contain {{ expl.join(', ') }} data
      </li>
      <li v-if="ix === 'row-column-count'" :key="ix">
        It looks like it contains {{ expl[0] }} rows and {{ expl[1] }} columns
      </li>
      <li v-if="ix === 'numeric-columns' && expl.length" :key="ix">
        One or more columns look like they might contain quantities: <b>{{ expl.join(', ') }}</b>
      </li>
      <li v-if="ix === 'index-guess' && (expl.length == 1 || expl.length == 2)" :key="ix">
        <span v-if="expl.length == 2">
Each row seems to have a unique pair of {{ expl[0][0] }} and {{ expl[1][0] }} values
        </span>
        <span v-if="expl.length == 1">
Each row seems to have a unique {{ expl[0][0] }} value
        </span>
      </li>
      <li v-if="ix === 'category-columns' && categoriesFromCategoryExplanation(expl).length" :key="ix">
        The following columns look like they might be categories:
        <ul>
        <li v-for='(cat, cix) in expl' :key='cix'><b>{{ cix }}</b>: {{ cat.slice(1).join(', ') }}</li>
        </ul>
      </li>
      <li v-if="ix === 'data-sample'" :key='ix'>
        For the chart above, we used {{ chart.values.length }} values. Often you cannot get all the individual rows of data into a chart. Then grouping by e.g. country, socio-economic group or gender (depending on your data), is a useful tool for explaining a message clearly.
    </li>
    </template>
</ul>
<hr>
5. It is <b>strongly</b> recommended that you talk to a data specialist or community journalism network, such as <a href='https://www.thebureauinvestigates.com/explainers/about-the-project'>Bureau Local</a>, before writing up what you see - data can be misleading, or gathered in unexpected ways, so charts can give a misleading picture!<br>
<hr>
6. This stage is for creating your infographic. <a href="http://canva.com">Canva</a> has great free resources for creating visually engaging images using the data you have found.
<br>
<hr>
<h4>Practical tips on how to create an infographic:</h4>
<dl>
<dt>- Layout</dt>
<dd>- Free templates available online</dd>
<dt>- Graphics (sourcing or creating)</dt>
<dd>- there are loads of open source icons &amp; images. Canva provided all the icons used in this example, and their paid service allows use of a wider range of higher quality images.</dd>
<dt>- How would you get the statistics?</dt>
<dd>- Statistics can be acquired from existing publications, and from open datasets with the help of a data scientist. </dd>
</dl>
</div>
</template>

<script>
import { svgArea, svgLine, svgScatter, svgBar } from 'd2b';
import { ChartAxis } from 'vue-d2b';
import * as d3 from 'd3';
export default {
  name: 'Infographic',
  return () {

  },
  props: {
    comprehension: {
      type: Object,
      required: false
    },
    chart: {
      type: Object,
      required: false
    },
    datasetInfo: {
      type: Object,
      required: true
    },
    resource: {
      type: Object,
      required: true
    }
  },
  components: {
    chartAxis: ChartAxis
  },
  methods: {
    categoriesFromCategoryExplanation: function (expl) {
      var categories = [];
      for (var cat in expl) {
        categories.push(cat);
      }
      return categories;
    },
    chartData: function (chart) {
      if (chart.type === 'category') {
        return this.chartCategory(chart);
      } else if (chart.type === 'numeric') {
        return this.chartNumeric(chart);
      } else if (chart.type === 'currency') {
        return this.chartCurrency(chart);
      }
    },
    chartRendered: function (el, chart) {
      d3.selectAll('.d2b-x-axis .tick text')
        .attr('transform', 'translate(-40,20)rotate(-15)');
    },
    viewDataButton: function (url) {
      window.open(url, '_blank');
    },
    chartCategory: function (chart) {
      var values = [];
      for (var i = 0; i < chart.values.length; i++) {
        values.push({ x: chart.entries[i], y: chart.values[i] });
      }
      return {
        planePadding: {
          bottom: 60,
          left: 25,
          right: 15,
          top: 10
        },
        sets: [
          {
            generators: [svgBar()],
            graphs: [
              {
                label: chart.name,
                values: values
              }
            ]
          }
        ],
        x: {
          label: chart.index
        },
        y: {
          label: 'Count'
        }
      };
    },
    chartNumeric: function (chart) {
      var values = [];
      for (var i = 0; i < chart.values.length; i++) {
        values.push({ x: chart.index[i], y: chart.values[i] });
      }
      var config = {
        planePadding: {
          bottom: 40,
          left: 60,
          right: 15,
          top: 10
        },
        sets: [
          {
            generators: [svgArea(), svgLine(), svgScatter()],
            graphs: [
              {
                label: chart.name,
                values: values
              }
            ]
          }
        ],
        x: {
        },
        y: {
          label: chart.name
        }
      };

      if (chart.indexName) {
        config.x.label = chart.indexName;
      }

      return config;
    }
  }
};
</script>
<style scoped>
.chart{
  width: 100%;
  height: 350px;
}
</style>
