<!-- The page displaying the dataset information, after you click a title from the results page -->
<template>
  <div>
    <b-row class="mb-3" no-gutters>
      <b-col cols="4">
         <p class="subTitles">Source</p>
<img class="sourceLogo" alt="Logo for the organisation that published the data" :src="sourceLogo[source]" v-if="source" />
      </b-col>
      <b-col cols="4">
        <p class="subTitles">Organization</p>
        <p>{{ organization }}</p>
      </b-col>
      <b-col cols="4">
        <p class="subTitles">Last updated</p>
        <p>{{ lastUpdated | convertCkanTime }}</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import opendatani from '@/assets/images/logos/opendatani.png';
import datagovuk from '@/assets/images/logos/datagovuk.png';
import datagovie from '@/assets/images/logos/datagovie.png';
export default {
  name: 'MetaData',
  props: {
    sourceName: {
      type: String,
      required: false,
      default: ''
    },
    organization: {
      type: String,
      required: false,
      default: 'Public Health Agency'
    },
    lastUpdated: {
      type: String,
      required: false,
      default: '02/02/2019'
    }
  },
  data () {
    return {
      sourceLogo: {
        datagovuk: datagovuk,
        datagovie: datagovie,
        opendatani: opendatani
      },
      altData: 'alt next'
    };
  },
  methods: {
  },
  computed: {
    source: function () {
      var sourceName = this.sourceName;
      var sourceImage = '';
      if (!sourceName) {
        return '';
      }
      if (sourceName.toLowerCase() === 'dublinked') {
        sourceImage = dublinked;
      } else if (sourceName.toLowerCase() === 'data.gov.uk') {
        sourceImage = datagovuk;
      } else if (sourceName.toLowerCase() === 'data.gov.ie') {
        sourceImage = datagovie;
      } else if (sourceName.toLowerCase() === 'opendatani') {
        sourceImage = opendatani;
      } else {
        sourceImage = '';
      }
      return sourceImage;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
  font-weight: 700;
}

.sourceLogo {
  width: 80%;
}

.subTitles {
  margin: 0px;
  font-weight: 700;
}
</style>
