<template>
  <div>
    <b-row no-gutters>
      <b-col>
        <p class="title removeMargin">Organization</p>
      </b-col>
      <b-col>
        <i class="fas fa-chevron-up" v-if="collapse" @click=setCollapsed></i>
        <i class="fas fa-chevron-down"  v-else @click=setCollapsed></i>
      </b-col>
    </b-row>
    <b-row :class="[ collapse ? 'collapsed': 'expanded' ]">
      <b-col cols="6">
        <img class="organizationLogo" alt="Logo for the organisation" :src="imageLinkVerified"/>
      </b-col>
      <b-col cols="6">
        <p class="information">
          {{ description }}
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import placeHolderOrganization from '@/assets/images/placeholder-organization.png';
export default {
  name: 'Organization',
  props: {
    imageLink: {
      type: String,
      required: false
    },
    description: {
      type: String,
      required: false,
      default: function () {
        return 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.';
      }
    }
  },
  data () {
    return {
      collapse: false
    };
  },
  methods: {
    setCollapsed: function () {
      this.collapse = !this.collapse;
    }
  },
  computed: {
    imageLinkVerified: function () {
      var image = '';
      if (this.imageLink.includes('http')) {
        image = this.imageLink;
      } else {
        image = placeHolderOrganization;
      }
      return image;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">
.title {
  font-weight: 700;
}

.information {
  color: #606060;
}

.collapsed {
  max-height: 0;
  transition: max-height 1000ms;
  overflow: hidden;
}

.expanded {
  height: auto;
  transition: height 1000ms;
}

.organizationLogo {
  width: 100%;
}

.removeMargin {
  margin-bottom: 0px;
}
</style>
