<template>
  <div>
    <p class="title">Topics</p>
    <b-badge :href="'/searchresults?cats=' + cat" v-for="cat in cats" :key="cat" variant="primary" class="badges tag-input-cat">{{cat}}</b-badge>
    <b-badge :href="'/searchresults?locs=' + loc" v-for="loc in locs" :key="loc" variant="primary" class="badges tag-input-loc">{{loc}}</b-badge>
  </div>
</template>

<script>

export default {
  name: 'Topics',
  props: {
    cats: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    },
    locs: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    }
  },
  data () {
    return {
    };
  },
  methods: {
  },
  computed: {
    // cats(){
    // return this.$store.state.investigationPage.investigationPage.topics;
    // },
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<style scoped lang="scss">
.title {
  font-weight: 700;
  margin: 0px;
}

a {
  margin-right: 10px;
}

.tag-input-loc {
  background-color: #6a6
}

</style>
