<template>
  <div>
    <b-row no-gutters>
      <b-col>
        <p class="title">Use Cases</p>
      </b-col>
    </b-row>
    <b-row no-gutters v-for="(chart, ix) in dataSample" :key="ix" class="mb-2 chart">
      <div style='position: relative; width: 100%' v-b-modal.using-dataset @click="setCurrentChart(chart)">
        <chart-axis @rendered="chartRendered" :data="chartData(chart)"></chart-axis>
        <div style='position: absolute; left: 200px; top: 100px; z-index: 10'><h1>ILLUSTRATIVE<br/>ONLY</h1></div>
      </div>
    </b-row>
    <b-row no-gutters v-if="!dataSample || dataSample.length == 0" class="mb-2">
      <!-- <b&#45;col cols="4"> -->
        <div class="squareBox" v-b-modal.using-dataset>
          Using This Dataset
        </div>
        <!-- </b&#45;col>
        <b-col cols="4">
        <div class="squareBox" v-b-modal.modal-2>
          Graph 2
        </div>
        </b-col>
        <b-col cols="4">
        <div class="squareBox" v-b-modal.modal-3>
          Graph 3
        </div>
</b-col> -->
    </b-row>
<b-modal id="using-dataset" title="Using this Dataset to Create an Infographic">
                          <infographic :comprehension="comprehension" :chart="currentChart" :datasetInfo="datasetInfo" :resource="datasetInfo" > </infographic>
</b-modal>
  </div>
</template>

<script>
import Infographic from './Infographic';
import { svgArea, svgLine, svgScatter, svgBar } from 'd2b';
import { ChartAxis } from 'vue-d2b';
import * as d3 from 'd3';

export default {
  name: 'UseCases',
  props: {
    datasetInfo: {
      type: Object,
      required: true
    },
    types: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      currentChart: null
    };
  },
  methods: {
    setCurrentChart: function (chart) {
      this.currentChart = chart;
    },
    chartRendered: function (el, chart) {
      d3.selectAll('.d2b-x-axis .tick text')
        .attr('transform', 'translate(-40,20)rotate(-15)');
    },
    chartData: function (chart) {
      if (chart.type === 'category') {
        return this.chartCategory(chart);
      } else if (chart.type === 'numeric') {
        return this.chartNumeric(chart);
      } else if (chart.type === 'currency') {
        return this.chartCurrency(chart);
      }
    },
    chartCategory: function (chart) {
      var values = [];
      for (var i = 0; i < chart.values.length; i++) {
        values.push({ x: chart.entries[i], y: chart.values[i] });
      }
      return {
        planePadding: {
          bottom: 60,
          left: 25,
          right: 15,
          top: 10
        },
        sets: [
          {
            generators: [svgBar()],
            graphs: [
              {
                label: chart.name,
                values: values
              }
            ]
          }
        ],
        x: {
          label: chart.index
        },
        y: {
          label: 'Count'
        }
      };
    },
    chartNumeric: function (chart) {
      var values = [];
      for (var i = 0; i < chart.values.length; i++) {
        values.push({ x: chart.index[i], y: chart.values[i] });
      }
      var config = {
        planePadding: {
          bottom: 60,
          left: 60,
          right: 15,
          top: 10
        },
        sets: [
          {
            generators: [svgArea(), svgLine(), svgScatter()],
            graphs: [
              {
                label: chart.name,
                values: values
              }
            ]
          }
        ],
        x: {
        },
        y: {
          label: chart.name
        }
      };

      if (chart.indexName) {
        config.x.label = chart.indexName;
      }

      return config;
    }
  },
  computed: {
    comprehension: function () {
      if (this.types) {
        return JSON.parse(this.types);
      }
      return {};
    },
    dataSample: function () {
      if (this.comprehension && 'data-sample' in this.comprehension) {
        return this.comprehension['data-sample'];
      }
      return null;
    }
  },
  components: {
    chartAxis: ChartAxis,
    infographic: Infographic
  },
  watch: {
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">
.squareBox {
  background-color: #d8d8d8;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  cursor: pointer;
}

.centerText {
  text-align: center;
  margin: auto;
}

.graphImage {
  width: 25vw;
  height: 25vh;
}

.title {
  font-weight: 700;
}

.chart{
  width: 100%;
  height: 350px;
  margin-bottom: 100px;
}
.d2b-chart-frame {
  height: 350px;
}
</style>
