<template>
<div>
    <b-row no-gutters>
      <b-col>
         <p class="title">Article List</p>
      </b-col>
    </b-row>
    <b-row no-gutters v-for="(article, ix) in articles" :key="ix" class="mb-2 article">
      <b-col cols="7">
        <p class="linkTitle">{{ article.published_at }}:
        <a :href="article.link">{{ article.title }}</a></p>
      </b-col>
      <b-col cols="5">
        <b-button size="sm" :href="article.link" class="viewDataButton">{{ article.author }}, {{ article.outlet }}</b-button>
      </b-col>

      <b-col cols="5">
<b-button id="tooltip-target-1" variant="outline-secondary" size="sm">
      {{article.type}}
  </b-button>
  <b-tooltip target="tooltip-target-1" triggers="hover">
      <div v-if="article.type === 'newspaper'">
      This article is coming from a <b>newspaper</b>!
      </div>

      <div v-if="article.type === 'education'">
      This article is defined as an <b>educational report</b>!
      </div>
  </b-tooltip>
      </b-col>
    </b-row>
</div>
</template>

<script>

export default {
  name: 'ArticleList',
  data () {
    return {
    };
  },
  methods: {
    viewDataButton: function (url) {
      window.open(url, '_blank');
    }
  },
  computed: {
    articles () {
      return this.$store.state.investigationPage.investigationPage.articles;
    },

    package () {
      return this.$store.state.newsDatahits.hits[0]._source.names;
    }
  },
  mounted: function () {
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
  font-weight: 700;
}

.linkTitle {
  margin: 0px;
  overflow: hidden;
}

.link {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 2px black solid;
  float: right;
}

.article {
  border-top: thin black solid;
  padding-top: 5px;
}
</style>
