<template>
  <div class='collaborative-documents'>
    <div>
      <p><strong>Collaborative Documents</strong></p>
      <div v-for="(document, ix) in documents" :key="ix">
        <b-button v-b-modal.modal-scrollable>{{document.title}}</b-button>

        <b-modal id="modal-scrollable" scrollable hide-footer size="xl" title="Agreement for Collaborative Documents access">
          <p class="my-4">
          <strong>1. Usage of the data</strong> <br><br>

          <u>The GDPR sets out seven key principles:</u> <br>
          Lawfulness, fairness and transparency.<br>
          Purpose limitation.<br>
          Data minimisation.<br>
          Accuracy.<br>
          Storage limitation.<br>
          Integrity and confidentiality (security)<br>
          Accountability.<br><br>
          Those ones should definitely be respected :<br>
          (a) processed lawfully, fairly and in a transparent manner in relation to individuals (‘lawfulness, fairness and transparency’);<br>
          (b) collected for specified, explicit and legitimate purposes and not further processed in a manner that is incompatible with those purposes; further processing for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes shall not be considered to be incompatible with the initial purposes (‘purpose limitation’);<br>
          (c) adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed (‘data minimisation’);<br>
          (d) accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay (‘accuracy’);<br>
          (e) kept in a form which permits identification of data subjects for no longer than is necessary for the purposes for which the personal data are processed; personal data may be stored for longer periods insofar as the personal data will be processed solely for archiving purposes in the public interest, scientific or historical research purposes or statistical purposes subject to implementation of the appropriate technical and organisational measures required by the GDPR in order to safeguard the rights and freedoms of individuals (‘storage limitation’);<br>
          (f) processed in a manner that ensures appropriate security of the personal data, including protection against unauthorised or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organisational measures (‘integrity and confidentiality’).<br><br>

          <strong>2. Adding new data</strong> <br><br>

          <b>Data organization guidelines :</b> <br><br>
          <u>Put similar items in the same column :</u> Design the data so that all rows have similar items in the same column.<br>
          <u>Keep a range of data separate :</u> Leave at least one blank column and one blank row between a related data range and other data on the worksheet. Your spreadsheet software can then more easily detect and select the range when you sort, filter, or insert automatic subtotals.<br>
          <u>Position critical data above or below the range :</u> Avoid placing critical data to the left or right of the range because the data might be hidden when you filter the range.<br>
          <u>Avoid blank rows and columns in a range :</u> Avoid putting blank rows and columns within a range of data. Do this to ensure that your spreadsheet software can more easily detect and select the related data range.<br>
          <u>Display all rows and columns in a range :</u> Make sure that any hidden rows or columns are displayed before you make changes to a range of data. When rows and columns in a range are not displayed, data can be deleted inadvertently.<br><br>

          <b>Data format guidelines :</b> <br><br>
          <u>Use column labels to identify data :</u> Create column labels in the first row of the range of data by applying a different format to the data. Most spreadsheet softwares can then usually use these labels to create reports and to find and organize data. Use a font, alignment, format, pattern, border, or capitalization style for column labels that is different from the format that you assign to the data in the range. Format the cells as text before you type the column labels.<br>
          <u>Use cell borders to distinguish data :</u> When you want to separate labels from data, use cell borders — not blank rows or dashed lines — to insert lines below the labels.<br>
          <u>Avoid leading or trailing spaces to avoid errors :</u> Avoid inserting spaces at the beginning or end of a cell to indent data. These extra spaces can affect sorting, searching, and the format that is applied to a cell. Instead of typing spaces to indent data, you can use the Increase Indent command within the cell.<br>
          <u>Extend data formats and formulas :</u> When you add new rows of data to the end of a data range, spreadsheet softwares extend consistent formatting and formulas. Three of the five preceding cells must use the same format for that format to be extended. All of the preceding formulas must be consistent for a formula to be extended.<br>
          <u>Use an appropriate table format for your spreadsheet software to work with related data :</u> You can turn a contiguous range of cells on your worksheet into a real table. Data that is defined by the table can be manipulated independently of data outside of the table, and you can use specific table features to quickly sort, filter, total, or calculate the data in the table. You can also use the table feature to compartmentalize sets of related data by organizing that data in multiple tables on a single worksheet.

          </p>

        <b-button class="mt-3" variant="outline-danger" block @click="hideModal">Decline</b-button>
        <b-button class="mt-2" variant="outline-success" block @click="redirectToDocument(document.link)">Accept</b-button>

        </b-modal>
      </div>
    </div>
   </div>
</template>

<script>
export default {
  name: 'CollaborativeDocuments',
  data () {
    return {
    };
  },
  methods: {
    hideModal () {
      this.$refs['modal-scrollable'].hide();
    },
    redirectToDocument (link) {
      location.replace(link);
    }
  },
  computed: {
    documents () {
      return this.$store.state.investigationPage.investigationPage.coll_doc_link;
    }
  }
};
</script>

<style scoped>

</style>
