<template>
<div class="mt-3">
  <p>With thanks to <a href="https://whatdotheyknow.com">whatdotheyknow.com</a></p>
  <vue-rss-feed :feedUrl="host + '/api/get_rss_with_cors/' + pageID" :name="name" :limit="limit"/>
</div>
</template>

<script>
import VueRssFeed from 'vue-rss-feed';

export default {
  name: 'FoiFeed',
  props: {
    pageID: {
      type: String,
      required: true
    }
  },
  data () {
    return {
    };
  },
  components: {
    VueRssFeed
  },
  computed: {
    host () {
      return this.$store.state.host;
    },
    name () {
      return this.$store.state.feed.name;
    },
    limit () {
      return this.$store.state.feed.limit;
    }
  }
};
</script>

<style lang="scss">
.vue-rss-feed {
  div.feed {
    h1 {
      font-weight: 700;
      font-size: 1.5em;
    }
    h3 {
      font-size: 1.3em;
    }
    .request_right {
      display: none
    }
  }
}
</style>
