<!-- The page displaying the dataset information, after you click a title from the results page -->
<template>
  <div>
    <b-row class="mb-3" no-gutters>
      <b-col cols="12" style="text-align: right">
        <h1>Investigation Page</h1>
        <p style="font-size: small">These pages help you start your data investigation.
        As a communal resource, we ask that you let us know if you find it useful, so that we can highlight your article.
        <p style="font-size: small; font-weight: bold">You should not use this page if you are not willing for your article to be linked below, to help other journalists along the same journey.</p>
        <p style="font-size: small">Please always attribute original
        sources (this is usually a copyright condition for using data). Note that we cannot take responsibility for the accuracy of
        any content linked here, so always check yourself that sources are authentic and trusted.
        </p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import opendatani from '@/assets/images/logos/opendatani.png';
import datagovuk from '@/assets/images/logos/datagovuk.png';
import datagovie from '@/assets/images/logos/datagovie.png';
export default {
  name: 'InvestigationHeader',
  props: {
    source: {
      type: String,
      required: false,
      default: ''
    },
    organization: {
      type: String,
      required: false,
      default: 'Public Health Agency'
    },
    lastUpdated: {
      type: String,
      required: false,
      default: '02/02/2019'
    }
  },
  data () {
    return {
      sourceLogo: {
        datagovuk: datagovuk,
        datagovie: datagovie,
        opendatani: opendatani
      },
      altData: 'alt next'
    };
  },
  methods: {
  },
  computed: {
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.title {
  font-weight: 700;
}

.sourceLogo {
  width: 80%;
}

.subTitles {
  margin: 0px;
  font-weight: 700;
}
</style>
