<template>
<div class="investigation-dataset-list">
    <b-row no-gutters>
      <b-col>
         <p class="title">Datasets</p>
      </b-col>
    </b-row>
    <div class="dataset" v-for="(article, ix) in datasets" :key="ix">
      <b-row no-gutters :key="ix" class="pt-2 mb-0 pb-0 article">
        <b-col cols="12">
          <router-link v-if="article.link == null" to="#">{{ article.description }}</router-link>
          <a :href="article.link">{{ article.description }}</a>
          <!-- This line will have to be used when datasets pages will be added to DT (route /dataset/id) <router-link :to="{ name: 'dataset', params: { id: article.id } }">{{ article.description }}</router-link> -->
        </b-col>
      </b-row>
      <b-row no-gutters class="mb-2 mt-0 article">
        <b-col cols="5">
        </b-col>
        <b-col cols="7">
          {{ article.organization }}
        </b-col>
      </b-row>
    </div>
</div>
</template>

<script>

export default {
  name: 'InvestigationDatasetList',
  props: {
  },
  data () {
    return {

    };
  },
  methods: {
    viewDataButton: function (url) {
      window.open(url, '_blank');
    }
  },
  computed: {
    datasets () {
      return this.$store.state.investigationPage.investigationPage.datasets;
    },

    package () {
      return this.$store.state.newsData.name;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<style scoped lang="scss">
.title {
  font-weight: 700;
}

.linkTitle {
  margin: 0px;
  overflow: hidden;
}

.link {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 2px black solid;
  float: right;
}

.article {
  padding-top: 5px;
}

.investigation-dataset-list {
  .dataset:nth-child(odd) {
    background-color: #ddd
  }
  .dataset:nth-child(even) {
    background-color: #eee
  }
}
</style>
