<template>
<div>
    <b-row class="mb-0" no-gutters>
      <b-col >
      <h1 class="title">{{ title }} <!-- {{ flag.emoji }} --> </h1>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col class="description-block">
         <div class="description" v-html="description.text"></div>
         <h4>Sources:</h4>
         <ul>
           <li v-for="(source, ix) in description.sources" :key="ix">
             <a :href="source.link">{{ source.outlet }}</a>
           </li>
         </ul>
      </b-col>
    </b-row>
</div>
</template>

<script>
import emojiFlags from 'emoji-flags';

export default {
  name: 'InvestigationSummary',
  props: {
  },
  data () {
    return {

    };
  },
  methods: {
  },
  computed: {
    flag: function () {
      if (this.country) {
        return emojiFlags.countryCode(this.country);
      } else {
        return null;
      }
    },

    title () {
      return this.$store.state.investigationPage.investigationPage.name;
    },

    country () {
      return this.$store.state.investigationPage.investigationPage.country;
    },

    description () {
      return this.$store.state.investigationPage.investigationPage.description;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<style scoped lang="scss">
.title {
  font-weight: 700;
  font-size: 1.5em;
}

.description {
  color: #606060;
}

.description-block {
  ul, h4, li {
    display: inline-block
  }
  li:before {
    content: "["
  }
  li:after {
    content: "]"
  }
}
</style>
