<template>
<div>
    <b-row no-gutters>
      <b-col>
        <p><span class="title">Relevant Bodies</span> who may have data</p>
      </b-col>
    </b-row>
    <b-row no-gutters v-for="(article, ix) in organizations" :key="ix" class="mb-2 article">
      <b-col cols="2">
        {{ article.type }}
      </b-col>
      <b-col cols="5">
        <a :href="article.link">{{ article.name }}</a>
      </b-col>
      <b-col cols="5">
        <b-button size="sm" :href="article.contact" class="viewDataButton">Contact</b-button>
      </b-col>
    </b-row>
</div>
</template>

<script>
export default {
  name: 'RelevantOrganizations',
  props: {
    package: {
      type: String,
      required: false
    }
  },
  data () {
    return {

    };
  },
  methods: {
    viewDataButton: function (url) {
      window.open(url, '_blank');
    }
  },
  computed: {
    organizations () {
      return this.$store.state.investigationPage.investigationPage.organizations;
    }
  },
  components: {
  },
  watch: {
  },
  mounted: function () {

  }
};
</script>

<style scoped lang="scss">
.title {
  font-weight: 700;
}

.linkTitle {
  margin: 0px;
  overflow: hidden;
}

.link {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 2px black solid;
  float: right;
}

.article {
  padding-top: 5px;
}

.investigation-dataset-list {
  .dataset:nth-child(odd) {
    background-color: #ddd
  }
  .dataset:nth-child(even) {
    background-color: #eee
  }
}
</style>
