<template>
 <div lass='dashboard'>
  <vega-lite v-for="graphic in graphicsData" :key="graphic " :title="graphic.title" :spec="graphic"/>
  </div>
</template>

<script>
import Vue from 'vue';
import VueVega from 'vue-vega';

Vue.use(VueVega);

export default {

  name: 'VegaGraphics',
  props: {
    data: {
      type: Array,
      required: true
    }
  },

  methods: {
  },
  computed: {
    graphicsData: function () {
      return this.$store.state.graphics;
    }

  }
};
</script>

<style scoped>
.div{
max-width: 100px;
}
</style>
