<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.11.1/dist/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://use.typekit.net/gxj5vgc.css">
    <title>The Data Times</title>
    <style>
      body, body * {
        font-family: futura-pt,sans-serif;
        font-weight: 400;
        font-style: normal;
      }  /* this affects every element in the body and the body itself */
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but dni-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
