<template>
  <div>
    <navigation></navigation> 
    <div class="worldBackground">
      <div class="About-us">
        <p class="header-text">Thousands of datasets in one place</p>
        <p class="body-text">Welcome to The Data Times! A free, easy-to-search tool for users to search over 13,000 datasets for topic-based and regional-based information that can be filtered to your needs - by topic, source, tags and much more.</p>

        <p class="header-text">Data Driven Research</p>
        <p class="body-text">The Data Times was developed as an accessible platform in order to reduce the time it takes to explore statistical research, especially for those who are perhaps unused to dealing with such research. All the datasets are reliably sourced and fact checked before being uploaded to the site. We do the work for you!</p>
  
        <p class="header-text">Investigation Pages - an invitation to collaborate</p>
        <p class="body-text"> The main feature of The Data Times, aimed at Northern Irish/Irish community journalists, is that users can source information and collaborate through Investigation Pages, a crib-sheet for a trending topic or theme within any given county or region. These pages can become the basis of user research – featuring RSS feeds and interactive graphs displaying trends within datasets. Some of our featured pages contain information about COVID-19 data (UK and Ireland), Irish language and cross-border economy. </p>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navigation from '@/components/Navigation';
export default {
  name: 'About',
  components: {
    Navigation
  }
};
</script>


<style scoped lang="scss">
.worldBackground {
  background: url(../assets/images/world-background.jpg);
  height: 100vh;
  width: 100vw;
  background-size:cover;
  overflow: hidden;
}
.About-us{
 padding-left: 20%;
 padding-right: 20%;
}

.header-text {
  color: #cab556;
  font-weight: 200;
  font-size: 2.5em;
  text-align: center;
}

.body-text {
  color: #808080;
  font-weight: 700;
  font-size: 1em;
  align-content: center;
  text-align: center;
    
}
</style>
