<template>
<div>
  <div>
  <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')'}" >
    <b-row no-gutters>
      <b-col>
        <navigation></navigation>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col>
        <search-bar class="mt-5 mb-5" :tags="[]" :noContainerPadding=false></search-bar>
      </b-col>
    </b-row>
  </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
    <b-container v-if="info">
      <b-row>
        <b-col cols="6" class="mt-3">
          <b-button class="viewDataButton mb-3" @click="goBack"><font-awesome-icon :icon="['fas', 'chevron-left ']" class="icon alt"/> Back to Search Results</b-button>
          <dataset-summary :title="info.title" :description="info.notes"></dataset-summary>
          <organization :imageLink=info.organization.image_url :description=info.organization.description></organization>
          <futher-info :title="info.title" :frequency=info.update_frequency :license=info.license_title :type=info.type category="" format="CSV" :lintol=dataInfo.lintol_package_id :contact=info.author_email :locale=dataInfo.locale :created=info.metadata_created></futher-info>
        </b-col>
        <b-col cols="6" class="mt-3">
          <meta-data class="mb-3" :source-name=info.source_name :organization=info.organization.title :lastUpdated=info.metadata_created></meta-data>
          <topics class="mb-3" :cats="dataInfo.topics" :locs="locsList"></topics>
          <dataset-list class="mb-3" :resources=info.resources :package="info.name"></dataset-list>
          <use-cases :types="dataInfo.types" :datasetInfo="info"></use-cases>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
</template>

<script>
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import FutherInfo from '@/components/datasetpage/FurtherInfo';
import Organization from '@/components/datasetpage/Organization';
import MetaData from '@/components/datasetpage/MetaData';
import Topics from '@/components/datasetpage/Topics';
import DatasetList from '@/components/datasetpage/DatasetList';
import UseCases from '@/components/datasetpage/UseCases';
import DatasetSummary from '@/components/datasetpage/DatasetSummary';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';

export default {
  name: 'DataSetPage',
  mixins: [elasticSearchMixin],
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      whitebackground: {
        backgroundColor: 'white'
      },
      dataInfo: {}
    };
  },
  methods: {
    goBack: function () {
      this.$router.go(-1);
    }
  },
  computed: {
    locsList: function () {
      if (this.dataInfo.locs) {
        return this.dataInfo.locs.slice(0, 4);
      }
      return [];
    },
    info: function () {
      return this.dataInfo.result;
    }
  },
  components: {
    SearchBar,
    Navigation,
    FutherInfo,
    Organization,
    Topics,
    MetaData,
    DatasetList,
    UseCases,
    DatasetSummary
  },
  mounted: function () {
    this.getDocument(this.id).then((response) => {
      this.dataInfo = response._source;
    });
  },
  watch: {
    id: function () {
      this.dataInfo = this.getDocument(this.id);
    }
  }
};
</script>

<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}

.back {
  opacity: 0.5;
  border-radius: 4px;
  border: solid 1px black
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 1px black solid;
  font-weight: 500;
}
</style>
