<template>
<div>
  <div>
    <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')', backgroundSize: '100% 100%'}" >
      <b-row no-gutters>
        <b-col>
          <navigation></navigation>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col offset-md="3" offset-lg="4">
          <search-info class="mb-3" :showTopicInfo=true :topics=topics></search-info>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col>
          <search-bar class="mb-5" :noContainerPadding=false :topics=topics v-on:searchTags=setSearchTopics></search-bar>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
    <b-container>
      <b-row>
        <b-col cols="3" class="mt-3">
        </b-col>
        <b-col cols="9" class="mt-3">
          <search-results-table :topics=topics :favourites=favourites></search-results-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
</template>

<script>
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import SearchInfo from '@/components/SearchInfo';
import SearchResultsTable from '@/components/SearchResultsTable';
import { isStoragePopulated, getArrayValue } from '@/utils/localstorage.js';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  name: 'SearchResults',
  props: {
    topics: {
      type: Array,
      required: false
    },
    favourites: {
      type: Boolean,
      required: false
    }
  },
  mixins: [elasticSearchMixin],
  data () {
    return {
      locationSelected: [],
      whitebackground: {
        backgroundColor: 'white'
      }
    };
  },
  methods: {
    isStoragePopulated: isStoragePopulated,
    getArrayValue: getArrayValue,
    setSearchTopics: function (searchTopics) {
      this.searchTopics = searchTopics;
    },
    go: function () {
      this.$router.push({ name: 'searchresults', query: { favourites: true } });
    }
  },
  computed: {
    showFavorites: function () {
      return this.isStoragePopulated('favoriteDataSet');
    }
  },
  components: {
    SearchBar,
    Navigation,
    SearchResultsTable,
    SearchInfo
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}

</style>
