<template>
<div>
  <div>
  <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')'}" >
    <b-row no-gutters>
      <b-col>
        <navigation></navigation>
      </b-col>
    </b-row>
    <b-row no-gutters>
      <b-col>
        <search-bar class="mt-5 mb-5" :tags="[]" :noContainerPadding=false></search-bar>
      </b-col>
    </b-row>
  </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
    <b-container v-if="investigationPage">
      <b-row>
        <b-col cols="6" class="mt-3">
          <b-button class="viewDataButton mb-3" @click="goBack"><font-awesome-icon :icon="['fas', 'chevron-left ']" class="icon alt"/> Back to Search Results</b-button>
          <investigation-summary></investigation-summary>
          <relevant-organizations></relevant-organizations>
          <collaborative-documents></collaborative-documents>
          <hr/>
          <foi-feed :pageID="id"/>
        </b-col>
        <b-col cols="6" class="mt-3">
         <investigation-header class="mb-3"> </investigation-header>
          <topics class="mb-3" :cats= investigationPage.topicsList :locs="locsList"></topics>
          <article-list class="mb-3 pt-3"></article-list>
          <investigation-dataset-list class="pt-3"></investigation-dataset-list>
          <b-row v-if="this.id == 1">
            <b-col cols="12" v-for="(example, ix) in examples" :key="ix">
              <example-graphics v-if="example" :data="example"></example-graphics>
            </b-col>
          </b-row>
          <b-row v-else>
            <vega-graphics v-if="graphics" :data="graphics"></vega-graphics>
<div>
                          <!--<b-button variant="outline-secondary" v-b-modal.modal-1>Download</b-button>-->
      <b-modal id="modal-1" title="Download the interactive graphics">
<p class="my-4">Which graphic do you want do download ?</p>
<select v-model="selected">
        <option v-for="(option, ix) in options" :key="ix" v-bind:value="option.value">
{{ option.text }}
        </option>
</select>
<p class="my-4">What format do you want to get ?</p>
<b-row>
<b-col lg="4" class="pb-2"><b-button :href="'http://localhost:8000/api/send_graphic_picture_request/png/' + id + '/' + investigationPage.graphics[selected]" pill variant="dark" size="lg">PNG</b-button></b-col>
<b-col lg="4" class="pb-2"><b-button :href="'http://localhost:8000/api/send_graphic_picture_request/svg/' + id + '/' + investigationPage.graphics[selected]" pill variant="success" size="lg">SVG</b-button></b-col>
<b-col lg="4" class="pb-2"><b-button :href="'http://localhost:8000/api/send_graphic_picture_request/pdf/' + id + '/' + investigationPage.graphics[selected]" pill variant="info" size="lg">PDF</b-button></b-col>
</b-row>
      </b-modal>
</div>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
</template>

<script>
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import RelevantOrganizations from '@/components/investigationpage/RelevantOrganizations';
import InvestigationDatasetList from '@/components/investigationpage/InvestigationDatasetList';
import InvestigationHeader from '@/components/investigationpage/InvestigationHeader';
import Topics from '@/components/datasetpage/Topics';
import ExampleGraphics from '@/components/investigationpage/ExampleGraphics';
import VegaGraphics from '@/components/investigationpage/VegaGraphics';
import CollaborativeDocuments from '@/components/investigationpage/CollaborativeDocuments';
import ArticleList from '@/components/investigationpage/ArticleList';
import InvestigationSummary from '@/components/investigationpage/InvestigationSummary';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
import FoiFeed from '@/components/investigationpage/FoiFeed';

export default {
  name: 'InvestigationPage',
  mixins: [elasticSearchMixin],
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      whitebackground: {
        backgroundColor: 'white'
      },
      examples: [],
      selected: '0',
      options: [
        { text: 'First graphic', value: '0' },
        { text: 'Second graphic', value: '1' }
      ]
    };
  },
  methods: {
    goBack: function () {
      this.$router.go(-1);
    }
  },
  computed: {
    dataInfo: function () {
      return this.$store.state.dataInfo;
    },
    graphics: function () {
      return this.$store.state.graphics;
    },
    locsList: function () {
      if (this.dataInfo.locs) {
        return this.dataInfo.locs.slice(0, 4);
      }
      return [];
    },
    info: function () {
      var result = this.dataInfo.result;
      return result;
    },
    investigationPage: function () {
      return this.$store.state.investigationPage;
    },
    idExists: function () {
      var acceptedIDs = [1, 2, 3, 4, 5];
      if (acceptedIDs.includes(parseInt(this.id))) {
        return true;
      } else {
        return false;
      }
    }
  },
  watch: {
    investigationPage (/* id */) {
      this.$store.dispatch('getGraphics', this.id);
    }
  },
  components: {
    FoiFeed,
    SearchBar,
    Navigation,
    RelevantOrganizations,
    InvestigationDatasetList,
    Topics,
    InvestigationHeader,
    ArticleList,
    InvestigationSummary,
    ExampleGraphics,
    VegaGraphics,
    CollaborativeDocuments
  },
  mounted: function () {
    this.getDocument('WVvfX20BL3OQCrODxyev').then((response) => {
      this.examples.push(response._source);
      console.log(response._source);
    });
    this.getDocument('_Z2zQW0BdeI7J_hL9rAw').then((response) => {
      this.examples.push(response._source);
      console.log(response._source);
    });
    this.$store.dispatch('loadInvestigationPage', this.id);
    // this.$store.dispatch('getGraphicsFromEs');
  }
};
</script>

<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}

.back {
  opacity: 0.5;
  border-radius: 4px;
  border: solid 1px black
}

.viewDataButton {
  background-color: white;
  color: black;
  border: 1px black solid;
  font-weight: 500;
}
.title {
  font-weight: 700;
  font-size: 1.5em;
}
.collaborative-documents {
  background-color: #eee;
  padding: 20px;
  border: thin black solid;
  box-shadow: 0px 0px 5px grey;
}
</style>
