<template>
<div>
  <div>
    <b-container fluid :style="{backgroundImage: 'url('+require('@/assets/images/world-background.jpg')+')', backgroundSize: '100% 100%'}" >
      <b-row no-gutters>
        <b-col>
          <navigation></navigation>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col offset-md="3" offset-lg="4">
          <search-info class="mb-3" :showTopicInfo=true :cats=cats :locs=locs></search-info>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col>
          <search-bar class="mb-5" :noContainerPadding=false :cats=cats :text=text :locs=locs v-on:searchTags=setSearchTopics></search-bar>
        </b-col>
      </b-row>
    </b-container>
  </div>
  <div v-bind:style="[whitebackground]">
    <b-container>
      <b-row>
        <b-col cols="3" class="mt-3">
          <b-button class="favouritesButton mb-2" v-show="showFavorites" @click="go">
            <font-awesome-icon  :icon="['fa', 'star']" class="icon alt"/>  My Favourites</b-button>
          <filter-builder :cats=cats :locs=locs></filter-builder>
        </b-col>
        <b-col cols="9" class="mt-3">
          <search-results-table :cats=cats :text=text :locs=locs :favourites=favourites></search-results-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</div>
</template>

<script>
import FilterBuilder from '@/components/FilterBuilder';
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import SearchInfo from '@/components/SearchInfo';
import SearchResultsTable from '@/components/SearchResultsTable';
import { isStoragePopulated, getArrayValue } from '@/utils/localstorage.js';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  name: 'SearchResults',
  props: {
    locs: {
      type: Array,
      required: false
    },
    text: {
      type: String,
      required: false
    },
    cats: {
      type: Array,
      required: false
    },
    favourites: {
      type: String,
      required: false
    }
  },
  mixins: [elasticSearchMixin],
  data () {
    return {
      locationSelected: [],
      whitebackground: {
        backgroundColor: 'white'
      }
    };
  },
  methods: {
    isStoragePopulated: isStoragePopulated,
    getArrayValue: getArrayValue,
    setSearchTopics: function (searchTopics) {
      this.searchTopics = searchTopics;
    },
    go: function () {
      this.$router.push({ name: 'favourites', query: { favourites: true } });
    }
  },
  computed: {
    showFavorites: function () {
      return this.isStoragePopulated('favoriteDataSet');
    }
  },
  components: {
    SearchBar,
    Navigation,
    SearchResultsTable,
    FilterBuilder,
    SearchInfo
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">

.container-fluid {
  padding: 0px;
}

.favouritesButton {
  background-color: white;
  color: black;
  border: 1px black solid;
  font-weight: 500;
  display:block;
  width: 100%;
}
</style>
