<template>
  <div>
    <navigation></navigation>
    <div class="worldBackground">
      <b-container class="windowCenter">
        <b-row no-gutters>
          <b-col>
            <search-info ></search-info>
          </b-col>
        </b-row>
        <b-row class="mt-3" no-gutters>
          <b-col cols="9">
            <search-bar :noContainerPadding=true></search-bar>
          </b-col>
        </b-row>
        <b-row class="mt-3" no-gutters>
          <b-col>
            <most-used-topics></most-used-topics>
    <br>
    <most-used-investigation-pages></most-used-investigation-pages>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <div style="background-color: white;">
      <!-- <Carousel></Carousel> -->
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Navigation from '@/components/Navigation';
import SearchBar from '@/components/SearchBar';
import SearchInfo from '@/components/SearchInfo';
import MostUsedInvestigationPages from '@/components/MostUsedInvestigationPages';
import MostUsedTopics from '@/components/MostUsedTopics';
/* import Carousel from '@/components/Carousel'; */

export default {
  name: 'SearchPage',
  components: {
    SearchBar,
    Navigation,
    MostUsedTopics,
    MostUsedInvestigationPages,
    /* Carousel, */
    SearchInfo
  }
};
</script>

<style lang="scss" scoped>
.worldBackground {
  background: url(../assets/images/world-background.jpg);
  height: 100vh;
  width: 100vw;
  background-size:cover;
  overflow: hidden;
}

.windowCenter {
  position: fixed;
  top: 35%;
  left: 20%;
}
</style>
