<template>
  <div class="carouselContainer">
    <label class="title">Data Sources</label>
    <carousel id="carousel"
    :perPageCustom="[[480, 4], [768, 4], [1080, 4]]"
    :scrollPerPage="false"
    :autoplay="true"
    :navigationEnabled="false"
    :paginationEnabled="false" >

    <slide v-for="(logo, ix) in logos" :key=ix>
      <a v-bind:href=logo.links> <img id="logo" v-bind:src=logo.pictures></a>
    </slide>

    </carousel>
  </div>
</template>

<script>
import opendatani from '@/assets/images/logos/opendatani.png';
import datagovuk from '@/assets/images/logos/datagovuk.png';
import datagovie from '@/assets/images/logos/datagovie.png';

export default {
  data () {
    return {
      logos: [
        {
          pictures: opendatani,
          links: 'https://www.opendatani.gov.uk/'
        },
        {
          pictures: datagovuk,
          links: 'https://www.data.gov.uk/'
        },
        {
          pictures: datagovie,
          links: 'https://data.gov.ie/'
        }
      ]
    };
  }
};
</script>

<style scoped lang="scss">

#logo {
  height: 26px;
  width: 110px;
}

.title {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.carouselContainer {
  background-color: white;
  max-width: 50%;
  margin: auto;
}
</style>
