<!-- The dataset information returned when a tag is searched -->
<template>
  <b-card>
    <b-container>
      <b-row class="mb-2">
        <b-col v-if="source" cols="2">
          <img class="providerLogo" :src="source" alt="Logo for the data provider"/>
        </b-col>
        <b-col  :cols="source ? 7 : 9">
          <p class="topic">{{dataSetInfo.result.organization.title}}</p>
        </b-col>
         <!-- <b-col  cols="3">
          <p class="score">Score {{ score }}</p>
        </b-col> -->
      </b-row>
      <b-row>
        <b-col cols="10">
          <b-row>
            <b-col>
              <router-link class="title"  :to="{ name: 'dataset', params: {id: dataSet._id}}" >{{dataSetInfo.result.title}}</router-link>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p v-line-clamp:20="2" class="description">{{dataSetInfo.result.notes}}</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col cols="8">
          <b-badge :href="'searchresults?cats=' + topic" v-for="topic in topics" :key="topic" variant="primary" class="badges" :class="{ 'searchedTopic': isSearchedTopic(topic) }">{{topic}}</b-badge>
          <p class="updatedAt" for="decsription">Date last updated: {{ updatedAt | convertCkanTime }} </p>
        </b-col>
        <b-col cols="2" class="bottomContainer">
          <label v-if="favorite" class="bottomEdge removeMargin">Favourited
            <font-awesome-icon  @click="clickFavorite"  :icon="['fa', 'star']" class="icon alt favorite" style="cursor: pointer;"/>
          </label>
          <label v-else class="bottomEdge removeMargin">Add Favourite
            <font-awesome-icon @click="clickFavorite" :icon="['fa', 'star']" class="icon alt" style="cursor: pointer;"/>
          </label>
        </b-col>
        <b-col cols="2" class="bottomContainer">
          <b-button id="exploreButton" size="sm" variant="dark" class="exploreButton bottomEdge" @click="explore">Explore Data <font-awesome-icon :icon="['fas', 'chevron-right']" class="icon alt"/></b-button>
        </b-col>
      </b-row>
    </b-container>
  </b-card>
</template>

<script>
import opendatani from '@/assets/images/logos/opendatani.png';
import datagovuk from '@/assets/images/logos/datagovuk.png';
import datagovie from '@/assets/images/logos/datagovie.png';
import dublinked from '@/assets/images/logos/dublinked-logo.png';
import { convertEpochToDate } from './common/date.js';
import { addValueToKey, removeValueFromKey, exists } from '@/utils/localstorage.js';
export default {
  name: 'DataSetCard',
  props: {
    dataSet: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    searchedTopics: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    }
  },
  data () {
    return {
      favorite: false
    };
  },
  methods: {
    convertEpochToDate: convertEpochToDate,
    addValueToKey: addValueToKey,
    removeValueFromKey: removeValueFromKey,
    exists: exists,
    explore: function () {
      this.$router.push({ name: 'dataset', params: { id: this.dataSet._id } });
    },
    isSearchedTopic: function (topic) {
      return this.searchedTopics.indexOf(topic) !== -1;
    },
    clickFavorite: function () {
      if (this.favorite) {
        this.removeValueFromKey('favoriteDataSet', this.dataSetInfo.lintol_package_id);
      } else {
        this.addValueToKey('favoriteDataSet', this.dataSetInfo.lintol_package_id);
      }
      this.favorite = !this.favorite;
    },
    setFavorite: function () {
      this.favorite = this.exists('favoriteDataSet', this.dataSetInfo.lintol_package_id);
    }
  },
  computed: {
    source: function () {
      var sourceName = this.dataSetInfo.source_name;
      var sourceImage = '';
      if (!sourceName) {
        return '';
      }
      if (sourceName.toLowerCase() === 'dublinked') {
        sourceImage = dublinked;
      } else if (sourceName.toLowerCase() === 'data.gov.uk') {
        sourceImage = datagovuk;
      } else if (sourceName.toLowerCase() === 'data.gov.ie') {
        sourceImage = datagovie;
      } else if (sourceName.toLowerCase() === 'opendatani') {
        sourceImage = opendatani;
      } else {
        sourceImage = '';
      }
      return sourceImage;
    },
    dataSetInfo: function () {
      return this.dataSet._source;
    },
    score: function () {
      return this.dataSet._score;
    },
    updatedAt: function () {
      return this.dataSetInfo.result.resources[0].created;
    },
    topics: function () {
      var temp = this.dataSetInfo.topics;
      return temp.sort((a, b) => {
        if (this.isSearchedTopic(a)) {
          return -1;
        } else {
          return 0;
        }
      });
    }
  },
  mounted: function () {
    this.setFavorite();
  }
};
</script>

<style scoped lang="scss">
$grey: #a1a1a1;
$brownish-grey: #606060;

.badges {
  margin-right: 5px;
  vertical-align: bottom;
  opacity: 0.75;
}

.title {
  font-weight: 700;
  color: black;
}

.description {
  color: $brownish-grey;
  font-size: 0.7rem;
  text-overflow: ellipsis;
}

.topic {
  float: left;
  font-size: 0.7rem;
  text-decoration: underline;
  color: $grey;
}

.updatedAt {
  font-size: 0.9rem;
  color: $brownish-grey;
  font-style: italic;
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.exploreButton {
  font-weight: 700;
  right: 1px;
}

.card-body {
  padding: 0.5rem;
}

.providerLogo {
  width: 100%;
  height: 25px;
}

.score {
  float: right;
  font-size: 0.7rem;
  text-decoration: underline;
  color: $grey;
}

.searchedTopic {
  opacity: 1;
}

.favorite {
color: yellow;
}

.bottomEdge {
  position: absolute;
  bottom: 0;
}

.bottomContainer {
    position: relative;
}

.removeMargin {
  margin: 0px;
}
</style>
