<template>
   <div role="tablist">
    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-container>
          <b-row>
            <b-col cols="8" lg="8">
              <span>{{ title }}</span>
            </b-col>
            <b-col cols="1" lg="2">
              <tooltip :name=title :content=tooltip></tooltip>
            </b-col>
            <b-col cols="2" lg="1">
              <span v-b-toggle="title">
                <span class="when-opened"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <span class="when-closed"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </span>
            </b-col>
          </b-row>
        </b-container>
      </b-card-header>
      <b-collapse :id="title" visible role="tabpanel"> <!-- Added if you want the filter boxes to react together. accordion="my-accordion" -->
        <b-card-body>
          <b-container>
            <b-row v-for="filter in filterPairs" :key=filter.key no-gutters>
              <b-col cols="11" sm="11">
                <label :for=filter.key>{{ filter.value }}</label>
              </b-col>
              <b-col cols="1" sm="1">
                <input type="checkbox" class="centerCheckbox" :id=filter.key :value=filter.key v-model="selected">
              </b-col>
            </b-row>
          </b-container>
        </b-card-body>
      </b-collapse>
    </b-card>
  </div>
</template>

<script>
import Tooltip from './Tooltip';
export default {
  name: 'FilterCard',
  props: {
    title: {
      type: String,
      required: false,
      default: 'Marks House'
    },
    filters: {
      type: Array,
      required: false,
      default: function () {
        return ['Belfast', 'Galway', 'Dublin', 'Cork'];
      }
    },
    filterEvent: {
      type: String,
      required: true
    },
    tooltip: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      selected: []
    };
  },
  computed: {
    filterPairs: function () {
      return this.filters.map(function (filter) {
        if (filter instanceof Object) {
          return filter;
        } else {
          return { key: filter, value: filter, default: false };
        }
      }).sort(function (a, b) {
        return a.value.localeCompare(b.value);
      });
    }
  },
  components: {
    Tooltip
  },
  mounted: function () {
  },
  watch: {
    filterPairs: function (filterPairs) {
      this.selected = filterPairs.filter(function (filter) {
        return filter.default;
      }).map(function (filter) {
        return filter.key;
      });
    },
    selected: function () {
      this.$events.$emit(this.filterEvent, this.selected);
    }
  }
};
</script>

<style scoped lang="scss">
.card-header {
  background-color: #e3e3e3;
}

.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
}

.card-body {
  padding: 0.25rem;
}

.container {
  padding: 0px 5px;
}

.centerCheckbox {
  margin: 0 auto;
  width: 100%;
}

.help{
  color: black;
  cursor: pointer;
  float: right;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
</style>
