<template>
   <div>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Organizations" :filters=organizations :filterEvent=FILTER_ORGANIZATIONS
          tooltip="The Data Times consumes datasets from a number of trustworthy organisations. This section can help you filter by specific organisations. Click <a href='https://kb.thedatatimes.com/#filtering'>here</a> for more details on filtering."></filter-card>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Sources" :filters=sources v-bind:filterEvent="FILTER_SOURCES"
          tooltip="The Data Times consumes datasets from a number of trustworthy sources. Click <a href='https://kb.thedatatimes.com/#data-sources'>here</a> for more details."></filter-card>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Types" :filters=types v-bind:filterEvent="FILTER_TYPES"
          tooltip="Datasets may be provided in various and multiple formats. Click <a href='https://kb.thedatatimes.com/#format'>here</a> for more details."></filter-card>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Natures" :filters=natures v-bind:filterEvent="FILTER_NATURES"
          tooltip="Datasets may be provided in various and multiple formats. Click <a href='https://kb.thedatatimes.com/#format'>here</a> for more details."></filter-card>
      </b-col>
    </b-row>
    <b-row class="mb-3" no-gutters>
      <b-col>
        <filter-card title="Locales" :filters=locales v-bind:filterEvent="FILTER_LOCALES"
          tooltip="Datasets may be available in a range of languages. This section can help you filter by language."></filter-card>
      </b-col>
    </b-row>
   </div>
</template>

<script>
import FilterCard from '@/components/FilterCard';
import { FILTER_SOURCES, FILTER_ORGANIZATIONS, FILTER_LOCALES, FILTER_TYPES, FILTER_NATURES } from '@/events.js';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
import { getLocaleName } from '@/utils/locales.js';

export default {
  mixins: [elasticSearchMixin],
  name: 'FilterBuilder',
  props: {
    cats: {
      type: Array,
      required: false
    },
    locs: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      FILTER_SOURCES: FILTER_SOURCES,
      FILTER_ORGANIZATIONS: FILTER_ORGANIZATIONS,
      FILTER_TYPES: FILTER_TYPES,
      FILTER_LOCALES: FILTER_LOCALES,
      FILTER_NATURES: FILTER_NATURES,
      organizations: [],
      sources: [],
      types: [],
      locales: [],
      natures: [],
      tooltip: 'Results can be further refined by checking the desired attributes in each filter. Click <a href="https://kb.thedatatimes.com/#filtering">here</a> for more details.'
    };
  },
  methods: {
    setOrganizations: function () {
      this.getUniqueFilters(this.cats, this.locs, 'result.organization.title', 'result.organization').then(response => {
        var buckets = response.aggregations.unique_field.name.buckets;
        this.organizations = [];
        buckets.forEach((element, index) => {
          this.$set(this.organizations, index, element.key);
        });
      }).catch((error) => {
        console.log('Error getting organizations');
        console.log(error);
      });
    },
    setSources: function () {
      this.getUniqueFilters(this.cats, this.locs, 'source_name').then(response => {
        var buckets = response.aggregations.name.buckets;
        this.sources = [];
        console.log('getting organizations', response.aggregations.name);
        buckets.forEach((element, index) => {
          this.$set(this.sources, index, element.key);
        });
      }).catch((error) => {
        console.log('Error getting sources');
        console.log(error);
      });
    },
    setTypes: function () {
      this.$set(this.types, 0, 'Only Analysed');
    },
    setLocales: function () {
      this.getUniqueFilters(this.cats, this.locs, 'locale').then(response => {
        var buckets = response.aggregations.name.buckets;
        this.locales = [];
        buckets.forEach((element, index) => {
          var locale = { key: element.key, default: false };
          // Temporary measure to allow datasets to show setting default to ""
          // restore commented out code in the line below when a fix is in place 
          // locale.default = (locale.key && locale.key.startsWith('en'));
          locale.default = ""
          locale.value = getLocaleName(locale.key);
          this.$set(this.locales, index, locale);
        });
      }).catch((error) => {
        console.log('Error getting locales');
        console.log(error);
      });
    },
    setNatures: function () {
      this.getUniqueFilters(this.cats, this.locs, 'nature').then(response => {
        var buckets = response.aggregations.name.buckets;
        this.natures = [];
        buckets.forEach((element, index) => {
          this.$set(this.natures, index, element.key);
        });
      }).catch((error) => {
        console.log('Error getting natures');
        console.log(error);
      });
    },
    toggleTooltip: function () {
      this.isTooltipOpen = !this.isTooltipOpen;
    }
  },
  computed: {
  },
  components: {
    FilterCard
  },
  mounted: function () {
    this.setOrganizations();
    this.setSources();
    this.setTypes();
    this.setLocales();
    this.setNatures();
  }
};
</script>

<style scoped lang="scss">
.help{
  color: black;
  cursor: pointer;
  float: right;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
</style>
