<template>
    <b-container fluid>
      <b-row no-gutters>
        <b-col>
          <navigation></navigation>
        </b-col>
      </b-row>
      <b-row class=" backgroundImage">
        <b-col>
          <search-bar class="mt-5" v-on:searchTags=setSearchTags></search-bar>
          {{ searchTags }}
        </b-col>
      </b-row>
      <b-container>
      <b-row class="mb-3">
        <b-col cols="10">
          <data-set-sources-info></data-set-sources-info>
        </b-col>
      </b-row>
      <b-row class="mb-5">
        <b-col cols="10">
          <most-used-topics></most-used-topics>
        </b-col>
      </b-row>
      <b-row class="mb-5">
        <b-col cols="10">
          <search-results-table :tags=searchTags></search-results-table>
        </b-col>
      </b-row>
    </b-container>
  </b-container>
</template>

<script>
import Navigation from './Navigation';
import SearchBar from './SearchBar';
import SearchResultsTable from './SearchResultsTable';
import MostUsedTopics from './MostUsedTopics';
import DataSetSourcesInfo from './DataSetSourcesInfo';
export default {
  name: 'Main',
  props: {
  },
  data () {
    return {
    };
  },
  methods: {
    setSearchTags: function (searchTags) {
      this.searchTags = searchTags;
    }
  },
  components: {
    SearchBar,
    MostUsedTopics,
    DataSetSourcesInfo,
    Navigation,
    SearchResultsTable
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">
.backgroundImage {
  background-color: black;
  height: 300px;
  vertical-align: middle;
}

.container-fluid {
  padding: 0px;
}
</style>
