<template>
  <div>
    <div>
      <p class="mostUsedTopicsLabel">Most used investigation pages</p>
      <b-badge v-for="topInvestigationPage in topInvestigationPages" :key=topInvestigationPage.name variant="success" :href="'/ip/' + topInvestigationPage.id">{{ topInvestigationPage.name }}</b-badge>
    </div>
  </div>
</template>

<script>
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  mixins: [elasticSearchMixin],
  name: 'MostUsedInvestigationPages',
  data () {
    return {
    };
  },
  mounted: function () {
    this.$store.dispatch('getAvailableInvestigationPages');
  },
  computed: {
    topInvestigationPages () {
      return this.$store.state.availableInvestigationPages;
    }

  }

};
</script>

<style scoped lang="scss">
span {
    margin-right: 10px;
}

.mostUsedTopicsLabel {
  color: white;
  font-weight: 700;
  margin-bottom: 0px;
}

.badge {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
}
</style>
