<template>
  <b-navbar id="navigation" toggleable="md" type="dark">
    <b-navbar-brand href="/">
       <img  src="~@/assets/images/logo.svg" alt="Blue logo with white text reading 'Data Times - Helping you source Data'"/>
    </b-navbar-brand>
    <b-navbar-nav>
      <b-nav-item v-b-modal="'videoModal'">How it works</b-nav-item>
      <b-nav-item :to="{name: 'about' }">About</b-nav-item>
      <b-nav-item href="https://kb.thedatatimes.com">Support</b-nav-item>
      <b-nav-item href="#" disabled>Contact</b-nav-item>
    </b-navbar-nav>

    <b-modal id="videoModal" @hidden="onHidden" hide-footer>
      <header class="modalHeader">The Data Times: How It Works</header>
        <div id="video">    
          <b-embed type="video" aspect="4by3" controls poster @canplay="updatePaused" @playing="updatePaused" @pause="updatePaused">
            <source src="https://mo.ev.openindustry.in/dni-dev-public/tdt-demo-small.mp4" type="video/mp4">
          </b-embed>
        </div>
    </b-modal>
  </b-navbar>
</template>

<script>
export default {
  name: 'Navigation',
  props: {
  },
  data () {
    return {
      video: null,
      paused: null
    };
  },
  methods: {
    updatePaused (e) {
      this.video = e.target;
      this.paused = e.target.paused;
    },
    pause () {
      this.video.pause();
    },
    onHidden(e) {
      this.video.pause();
    }
  },
  computed: {
    playing () { return !this.paused; }
  },
  components: {
  },
  mounted: function () {
  }
};
</script>

<style scoped lang="scss">
.navbar {
  padding: 0px;
}
.modalHeader{
  text-align: center;
  font-size: 1.5em;
  color: #cab556;
}
</style>
