<template>
<b-container :class="{ noContainerPadding: noContainerPadding }">
<b-row no-gutters>
<b-col md="9" lg="9">
          <tags-input :suggestedTags=suggestedTags
                    @initialized=setRemainderText
                    @no-tag-results="fetchMoreTags"
                    id="searchTags"
                    :typeahead-max-results=dropdownLimit
                    element-id="tags"
                    class="searchBar"
                    v-model="selectedTopics"
                    :existing-tags=joinedList
                    :typeahead="true"
                    :placeholder=placeholder
                    :typeahead-style="dropdownstyle"
                    @blur="setDropdownStyle"
                    @focus="setDropdownStyle"
                    :only-existing-tags=true>
                   </tags-input>
        </b-col>

        <b-col md="3" lg="3">
          <b-button id="search" class="searchButton" @click="search" :disabled="disabledSearch" >
          <label for="search" class="searchButtonLabel" :class="{ 'searchButtonLabelCursor': disabledSearch}">Search Data Times</label>
            <font-awesome-icon :icon="['fas', 'chevron-right']" class="icon alt" size="lg"/>
          </b-button>
          <tooltip name="search" :content=tooltip colour=white class="tooltipPosition"></tooltip>
        </b-col>
      </b-row>
  </b-container>
</template>

<script>
import axios from 'axios';
import Tooltip from './Tooltip';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  mixins: [elasticSearchMixin],
  name: 'SearchBar',
  props: {
    cats: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    },
    text: {
      type: String,
      required: false,
      default: function () {
        return '';
      }
    },
    locs: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    },
    noContainerPadding: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      results: [],
      searchText: '',
      numberOfDatasets: 0,
      numberOfSources: 50,
      selectedTopics: [],
      placeholder: 'Please enter your topic',
      catList: [],
      locList: [],
      dropdownLimit: 10,
      suggestedTags: [],
      dataSetsDoNotExistForTopics: true,
      tooltip: 'Search topics are added to the search box by typing a term and pressing enter. Click <a href="http://kb.thedatatimes.com/#searching" >here</a> for more details.',
      dropdownstyle: 'dropdown'
    };
  },
  methods: {
    setRemainderText () {
      var el = document.getElementsByClassName('tags-input')[0];
      if (el && el.childNodes && el.childNodes.length > 1) {
        el.childNodes[el.childNodes.length - 2].value = this.text;
      }
    },
    getRemainderText () {
      var text = '';
      var el = document.getElementsByClassName('tags-input')[0];
      if (el && el.childNodes.length > 1) {
        text = el.childNodes[el.childNodes.length - 2].value;
      }
      return text;
    },
    search: function () {
      var text = this.getRemainderText();
      this.$router.push({ name: 'searchresults', query: { cats: this.selectedCats.map(cat => cat.key), locs: this.selectedLocs.map(loc => loc.key), text: text } });
    },
    setLocs: function () {
      this.uniqueListForField('locs').then(response => {
        var locObjects = [];
        var buckets = response.aggregations.unique_field.buckets;
        buckets.forEach(element => {
          locObjects.push({ key: element.key.toLowerCase(), class: 'tag-input-loc', type: 'loc', value: element.key.toLowerCase() });
        });
        this.locList = locObjects;
      }).catch((error) => {
        console.log('Error getting locs');
        console.log(error);
      });
    },
    setCats: function () {
      this.uniqueListForField('topics').then(response => {
        var catObjects = [];
        var buckets = response.aggregations.unique_field.buckets;
        buckets.forEach(element => {
          var key = element.key[0].toUpperCase() + element.key.slice(1);
          catObjects.push({ key: key, value: key, class: 'tag-input-cat', type: 'cat' });
        });
        this.catList = catObjects;
      }).catch((error) => {
        console.log('Error getting cats');
        console.log(error);
      });
    },
    fetchMoreTags: function (tag) {
      var lang = navigator.language || navigator.userLanguage;
      axios.post('/api/topics', { sentences: [tag], lang: lang }).then((response) => {
        var suggestedTopics = this.extractSuggests(response.data[0]);
        this.suggestedTags = suggestedTopics;
      }).catch((error) => {
        console.log('Error with tag:' + tag);
        console.log(error);
        this.suggestedTags = [];
      });
    },
    checkDatasetsExistForTopics: function () {
      this.checkTopicsExist(this.selectedCats, this.selectedLocs).then((response) => {
        var numberOfDataSets = response.hits.total;
        if (numberOfDataSets > 0) {
          this.dataSetsDoNotExistForTopics = false;
        } else {
          this.dataSetsDoNotExistForTopics = true;
        }
      }).catch((error) => {
        console.log('Error checking datasets exist for a topic:');
        console.log(error);
        this.dataSetsExistForTopics = true;
      });
    },
    clearSuggestedTags: function () {
      this.suggestedTags = [];
    },
    extractSuggests: function (topicsArray) {
      var results = [];
      function Comparator (a, b) {
        if (a[0] > b[0]) return -1;
        if (a[0] < b[0]) return 1;
        return 0;
      };
      topicsArray.sort(Comparator);
      topicsArray.splice(0, 10).forEach((element) => {
        var topic = element[1][1];
        results.push({ key: topic, value: topic, text: topic, type: 'cat', class: 'tag-input-cat' });
      });
      return results;
    },
    setDropdownStyle (e) {
      if (e.type === 'focus') {
        this.dropdownstyle = 'dropdown';
      } else if (e.type === 'blur') {
        this.dropdownstyle = 'dropdown-hide';
      }
    }
  },
  watch: {
    joinedList: function (joinedList) {
      this.selectedTopics = joinedList.filter((topic) => {
        if (topic.type === 'cat' && this.cats.indexOf(topic.key) !== -1) {
          return true;
        }
        if (topic.type === 'loc' && this.locs.indexOf(topic.key) !== -1) {
          return true;
        }
        return false;
      });
    },
    selectedTopics: function (arg) {
      this.clearSuggestedTags();
      this.checkDatasetsExistForTopics();
    }
  },
  components: {
    Tooltip
  },
  computed: {
    selectedCats: function () {
      return this.selectedTopics.filter((topic) => topic.type === 'cat');
    },
    selectedLocs: function () {
      return this.selectedTopics.filter((topic) => topic.type === 'loc');
    },
    joinedList: function () {
      var joinedList = this.locList.concat(this.catList);
      return joinedList;
    },
    disabledSearch: function () {
      return this.dataSetsDoNotExistForTopics === true;
    }
  },
  mounted: function () {
    this.setLocs();
    this.setCats();
  }
};
</script>

<style lang="scss">
.tooltipPosition {
  vertical-align: middle;
  margin-left: 5px;
}

.searchButton {
  background-color: #58a352 !important;
  width: 85%;
  height: 100%;
}

.searchButtonLabel {
  font-weight: 500;
  margin-bottom: 0px;
  margin-right: 5px;
  cursor: pointer;
}

.searchButtonLabelCursor {
  cursor: default !important;
}

.searchBar {
  width: 100%;
  margin-right: 10px;
}

.tags-input-badge {
  font-size: 100%;
  font-weight: 100;
  background-color: #3282cd;
  color: white;
}

.tags-input-badge-pill {
  border-radius: 2px !important;
}

.tags-input-remove:before, .tags-input-remove:after {
    background: white;
}

.noContainerPadding {
  padding-right: 0px !important;
  padding-left: 0px !important
}

.typeahead-dropdown {
  z-index: 1000;
}

.typeahead-dropdown-hide{
  display: none;
}

.tag-input-loc {
  background-color: #6a6
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

</style>
