<template>
  <div>
    <v-wait for="my list is to load">
    <template slot="waiting">
      <div>
        <p>Loading the list...</p>
      </div>
    </template>
    <div class="mb-2">
      <label class="title" >Your Results Total Found {{ totalResults }}</label>
      <div class="sortByContainer">
      <b-select id="sort" v-model="sortBy">
        <option value="desc">Date updated descending</option>
        <option value="asc">Date updated ascending</option>
        <option value="rel_desc" v-bind="relevance">Relevant descending</option>
        <option value="rel_asc" v-bind="relevance">Relevant ascending</option>
      </b-select>
      <tooltip name="sort" :content=tooltip class="tooltipPosition"></tooltip>
      </div>
    </div>
    <div id="resultsList" v-if="results.length>0">
      <data-set-card class="mb-3" v-for="(result, index) in results" :key=index :dataSet=result :index=index :searchedTopics=cats></data-set-card>
      <b-pagination v-if="totalResults > perPage" size="md" :total-rows="totalResults" v-model="currentPage" :per-page=perPage @change="scrollBackUp">
    </b-pagination>
    </div>
      <div v-else>
        <p>No Results</p>
      </div>
    </v-wait>
  </div>
</template>

<script>
import DataSetCard from './DataSetCard';
import Tooltip from './Tooltip';
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
import { FILTER_SOURCES, FILTER_ORGANIZATIONS, FILTER_TYPES, FILTER_NATURES, FILTER_LOCALES } from '@/events.js';
import { setupStorage, getArrayValue } from '@/utils/localstorage.js';
export default {
  mixins: [elasticSearchMixin],
  name: 'SearchResults',
  props: {
    favourites: {
      type: Boolean,
      required: false,
      default: false
    },
    locs: {
      type: Array,
      required: false
    },
    cats: {
      type: Array,
      required: false
    },
    text: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      currentPage: 1,
      perPage: 10,
      host: process.env.VUE_APP_DB,
      results: [],
      totalResults: 0,
      sources: [],
      organizations: [],
      types: [],
      natures: [],
      locales: [],
      autoScroll: {
        overflowX: 'hidden',
        height: '48vh'
      },
      sortBy: 'desc',
      favouritesList: [],
      relevance: null,
      tooltip: 'Default sorting is by last date updated descending. Results can also be sorted by relevance. Click <a href="https://kb.thedatatimes.com/#sorting">here</a> for more details.'
    };
  },
  computed: {
    shortResults: function () {
      return this.results.slice((this.currentPage - 1) * this.perPage, this.currentPage * this.perPage);
    },
    startFrom: function () {
      return (this.currentPage * this.perPage) - this.perPage;
    }
  },
  methods: {
    setupStorage: setupStorage,
    getArrayValue: getArrayValue,
    search: function () {
      this.$wait.start('loading search results');
      this.queryTopicResults(this.cats, this.locs, this.text, this.sources, this.organizations, this.types, this.natures, this.locales, this.startFrom, 10, this.sortBy ? this.sortBy : 'desc').then(response => {
        this.totalResults = response.hits.total;
        this.results = response.hits.hits;
        this.$wait.end('loading search results');
      }).catch((error) => {
        console.log('Error searching for datasets');
        console.log(error);
        this.$wait.end('loading search results');
      });
    },

    searchByScore: function () {
      this.relevance = this.sortBy.slice(4);
      this.$wait.start('loading search results');
      this.queryTopicResultsByScore(this.cats, this.locs, this.text, this.sources, this.organizations, this.types, this.natures, this.locales, this.startFrom, 10, this.relevance).then(response => {
        this.totalResults = response.hits.total;
        this.results = response.hits.hits;
        this.$wait.end('loading search results');
      }).catch((error) => {
        console.log('Error searching for datasets');
        console.log(error);
        this.$wait.end('loading search results');
      });
    },
    setFilterListeners: function () {
      this.$events.$on(FILTER_ORGANIZATIONS, eventData => {
        this.organizations = eventData;
        this.search();
      });
      this.$events.$on(FILTER_SOURCES, eventData => {
        this.sources = eventData;
        this.search();
      });
      this.$events.$on(FILTER_TYPES, eventData => {
        this.types = eventData;
        this.search();
      });
      this.$events.$on(FILTER_NATURES, eventData => {
        this.natures = eventData;
        this.search();
      });
      // setting locales to [] as a temporary measure so datasets show onload of search results
      this.$events.$on(FILTER_LOCALES, eventData => {
        this.locales = [];
        // this.locales = eventData;
        this.search();
      });
    },
    scrollBackUp: function () {
      window.scrollTo(0, 0);
    },
    searchFavourties: function () {
      this.$wait.start('loading search results');
      this.getCkanPackages(this.favouritesList).then(response => {
        this.totalResults = response.hits.total;
        this.results = response.hits.hits;
        this.$wait.end('loading search results');
      }).catch((error) => {
        console.log('Error searching for datasets');
        console.log(error);
        this.$wait.end('loading search results');
      });
    },
    toggleTooltip: function () {
      this.isTooltipOpen = !this.isTooltipOpen;
    }
  },
  watch: {
    cats: function () {
      this.search();
    },
    locs: function () {
      this.search();
    },
    currentPage: function () {
      this.search();
    },
    sortBy: function () {
      if (this.sortBy === 'asc' || this.sortBy === 'desc') {
        this.currentPage = 1;
        this.search();
      } else {
        this.searchByScore();
      }
    }
    // relevance: function () {
    // this.results = queryTopicResultsByScore(this.cats, this.locs, this.text, this.sources, this.organizations, this.types, this.natures, this.locales, this.startFrom, 10, this.sortBy);
  },
  components: {
    DataSetCard: DataSetCard,
    Tooltip
  },
  mounted: function () {
    this.setupStorage('favoriteDataSet');
    if (this.favourites) {
      this.favouritesList = this.getArrayValue('favoriteDataSet');
      this.searchFavourties();
    } else {
      this.setFilterListeners();
      this.search();
    }
  }
};
</script>

<style scoped lang="scss">
.sortByContainer {
  float: right;
}

.tooltipPosition {
  vertical-align: middle;
}
.title {
  font-weight: 700;
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.custom-select {
  width:auto;
  border-color: black;
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
  }
  &[x-placement^="top"] {
    margin-bottom: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;
    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 5px;
    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 5px;
    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
</style>
