<template>
  <div>
<h1 class="datasetInfo" v-if="!showTopicInfo">Search {{ numberOfDatasets }} Data Sets for Open Data across</h1>
      <h1 class="datasetInfo" v-if="!showTopicInfo">{{ numberOfSources }} Reliable Sources in one place</h1>
      <h1 class="datasetInfo" v-if="showTopicInfo">Search for topics in over {{ numberOfDatasets }} Data Sets</h1>
  </div>
</template>

<script>
import { elasticSearchMixin } from '@/components/mixins/ElasticSearch.js';
export default {
  mixins: [elasticSearchMixin],
  name: 'SearchBar',
  props: {
    topics: {
      type: Array,
      required: false,
      default: function () {
        return [];
      }
    },
    showTopicInfo: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      numberOfDatasets: 0,
      numberOfSources: 10
    };
  },
  methods: {
    setNumberOfDatasets: function () {
      return this.getDocumentCount('core').then(response => {
        this.numberOfDatasets = response.count;
      });
    }
  },
  computed: {
  },
  mounted: function () {
    this.setNumberOfDatasets();
  }
};
</script>

<style lang="scss">
.datasetInfo {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  margin: 0px;
}
</style>
