<template>
<div>
  <div class="wrapping" @keyup="nextItem">
    <div>
      <b-badge v-for="badge in pickedArray" :key="badge" variant="primary">{{ badge}}</b-badge>
    </div>
    <input type="text" placeholder="Please enter a topic" v-model="searchTerm" class="searchBox"  v-on:keyup.enter="hitEnter"/>
    <div class="searchDropDown" :class="{ 'showDropDown': notEmptySearch }" @blur.native="closeDropDown">
      <ul>
        <li class="hoverChoice" :class="{ 'active-item': index === currentItem }" v-for="(topic, index) in availableTopics" :key=topic @click="addToArray(topic)">{{ topic }}</li>
      </ul>
    </div>
    <div class="searchDropDown" :class="{ 'showDropDown': showLogicDropdown }" @blur.native="closeDropDown">
      <ul>
        <li class="hoverChoice" :class="{ 'active-item': index === currentLogic }" v-for="(logic, index) in logics" :key=logic @click="addLogic(logic)">{{ logic }}</li>
      </ul>
    </div>
  </div>
  <p style="color: red">Available Topics  {{ availableTopics }}</p>
</div>
</template>

<script>
export default {
  name: 'SearchBarNew',
  props: {
  },
  data () {
    return {
      showDrop: false,
      searchTerm: '',
      topics: [
        'Education',
        'Martin',
        'Cool',
        'Now'
      ],
      pickedArray: [],
      currentItem: -1,
      showLogicDropdown: false,
      logics: [
        'OR',
        'AND'
      ],
      currentLogic: -1
    };
  },
  methods: {
    matchSearch: function () {
      var here = this.topics.filter((element) => {
        return element.match('/M/i');
      });
      console.log('HERE');
      console.log(here);
    },
    addToArray: function (picked) {
      this.searchTerm = '';
      this.pickedArray.push(picked);
      this.topics;
      this.searchTerm = '';
      this.showLogicDropdown = true;
    },
    hitEnter: function () {
      if (this.showLogicDropdown) {
        if (this.availableTopics.length !== 0) {
          this.pickedArray.push(this.logics[this.currentLogic]);
        }
      } else {
        if (this.availableTopics.length !== 0) {
          this.pickedArray.push(this.availableTopics[this.currentItem]);
        }
      }
      this.searchTerm = '';
      this.showLogicDropdown = !this.showLogicDropdown;
    },
    addLogic: function (logic) {
      this.pickedArray.push(logic);
      this.searchTerm = '';
      this.showLogicDropdown = !this.showLogicDropdown;
    },
    nextItem (event) {
      if (this.showLogicDropdown) {
        if (event.keyCode === 38 && this.currentLogic > 0) {
          this.currentLogic--;
        } else if (event.keyCode === 40 && this.currentLogic < this.logics.length - 1) {
          this.currentLogic++;
        }
      } else {
        if (event.keyCode === 38 && this.currentItem > 0) {
          this.currentItem--;
        } else if (event.keyCode === 40 && this.currentItem < this.availableTopics.length - 1) {
          this.currentItem++;
        }
      }
    },
    closeDropDown: function () {
      debugger;
    }
  },
  computed: {
    notEmptySearch: function () {
      return this.searchTerm.length !== 0;
    },
    availableTopics: function () {
      return this.topics.filter((element) => {
        return !this.pickedArray.includes(element);
      });
    }
  },
  watch: {
    searchTerm: function () {
      this.matchSearch();
    }
  },
  mounted: function () {
  }
};
</script>

<style lang="scss">

.searchDropDown {
  height: auto;
  background-color: #283944;
  width: auto;
  display: none;
  color: white;
}

.showDropDown {
  display: block;
}

.searchBox {
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 black;
  &:focus {
      outline: none;
  }
}

.wrapping {
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.hoverChoice:hover {
  background-color: #5C6BC0;
  cursor: pointer;
}

.active-item {
  background-color: #5C6BC0;
}
</style>
