<template>
  <div id="app" :style="backplace">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'DataSetPage',
  props: {
    id: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      backplace: {
        backgroundColor: 'black'
      }
    };
  },
  methods: {
  },
  components: {
  }
};
</script>

<style lang="scss">
// #app {
//   font-family: "Avenir", Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   // text-align: center;
//   color: #2c3e50;
// }
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
